body, html {
    font-family: 'Roboto', black;
    margin-top: -22px;
}

#container {
  padding-left: 200px;
}

#content {
  padding-left: 200px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}

#profilepic {
    margin-left: 10px;
    padding: 15px 10px 5px 10px;
    height: 210px;
    width: 180px;
}

#navbar-li {
    padding-top: 100px;
}

.icons {
    position: relative;
    height: 35px;
    width: 35px;
    padding-right: 5px;
    top: 10px;
}

#home {
    background-image: url("../photos/background.jpg");
    /* Full height */
    height: 655px; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}



.home-background {
    background-color: black;
    opacity: .7;
}

