body, html {
    font-family: 'Roboto', black;
    width: 100%;
}



#beginning {
    margin: 15%;
 }
 #about {
   width: 100%;
}
 #work {
   margin: 20%;
}

#interests {
    margin: 20%;
 }





img {
    height: 100%;
    width: 100%;
}








.icons {
    position: center;
	height: 20px;
	width: 20px;
}




#container {
  padding-left: 300px;
}

#content {
  padding: 200px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}

