body, html {
    font-family: 'Roboto', black;
}

#container {
  padding-left: 200px;
}

#content {
  padding-left: 200px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}

#profilepic {
    margin-left: 10px;
    padding: 15px 10px 5px 10px;
    height: 210px;
    width: 180px;
}

.icons {
    position: relative;
    height: 28px;
    width: 28px;
    padding-right: 5px;
    top: 10px;
}